.questionnaire-main
  background-color: #ecf0f1
  .questionnaire-wrapper
    align-content: center
    min-height: 65vh
    .questionnaire-section
      background-color: #fff
      padding: 3rem
      h1
        font-size: 2rem
        margin-bottom: 1rem