@import 'colors'

*
  transition: .2s ease-in all

body
  background-color: white
  color: $purple

.kulim
  font-family: var(--font-kulim)

.inter
  font-family: var(--font-inter)

.landing-title
  font-family: var(--font-kulim)

.landing-text
  font-family: var(--font-inter)
  font-size: 1em
  font-weight: 500
  text-align: center

.landing-logo
  border-radius: 50%
